{
  "env": {
    "development": {
      "presets": [
        ["es2015", { "loose": true, "modules": false }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        ["es2015", { "loose": true, "modules": false }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        ["es2015"],
        "stage-0",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
