@font-face
    font-family 'Earth Orbiter Title'
    src url('../assets/fonts/earthorbitertitle-webfont.woff2') format('woff2'),
        url('../assets/fonts/earthorbitertitle-webfont.woff') format('woff')
    font-weight normal
    font-style normal
