@import './open-color'

$background-color = oc-black

// Form Stuff
$input-text-color = #eee
$input-border-color = oc-gray-8
$input-border-focus-color = oc-gray-6
$input-selection-background-color = oc-gray-6
$input-selection-color = oc-gray-5
$label-color = darken($input-text-color, 35%)
$placeholder-color = darken($input-text-color, 65%)

// Home
$home-background-color = $background-color
$home-text-color = #ababab
$home-logo-color = oc-white
$home-button-color = oc-gray-5

// TopBar
$top-bar-background-color = $background-color
$top-bar-logo-color = #7a7a7a
$top-bar-logo-emphasis-color = oc-white
$top-bar-menu-color = oc-black

// SideNav
$side-nav-background-color = $top-bar-background-color
$side-nav-active-background-color = oc-gray-9
$side-nav-active-color = oc-gray-5
$preview-button-color = oc-gray-5

// Content
$content-background-color = lighten($background-color, 3%)
$switch-section-color = oc-gray-4
$switch-section-background-color = darken(oc-gray-9, 35%)
$switch-section-hover-background-color = lighten($switch-section-background-color, 10%)

// Templates
$templates-button-color = $home-button-color
$templates-button-border-color = oc-gray-8
$templates-text-color = oc-gray-4

// Preview
$progress-bar-outer-color = #a6abaa
$progress-bar-inner-color = #404040
$download-button-background-color = #a6abaa
