@import '../variables/colors'
@import '../variables/sizes'

#content
  display flex
  min-height $content-height
  background-color $content-background-color
  margin-left $side-nav-width

  @media screen and (max-width: 768px)
    margin-left 0

  .switch-section-button
    z-index 1
    position fixed
    height 100%
    background-color $switch-section-background-color
    outline none
    border none
    width 3rem
    color $switch-section-color
    cursor pointer
    transition background-color .4s ease

    &:hover
      background-color $switch-section-hover-background-color

    &.prev-section-button
      left $side-nav-width

      @media screen and (max-width: 768px)
        left 0

    &.next-section-button
      right 0

  section
    margin-top $top-bar-height

  .form-section
    padding 20px
    margin-left auto
    margin-right auto
    width 80%

    hr
      margin 100px 0
      background-image -webkit-linear-gradient(left, #000, #ccc, #000)

    p:focus
      outline none

    .input-container
      margin-bottom 25px

      label
        color $label-color
        font-weight 400
        margin 0
        padding 0

      input
        color $input-text-color
        background-color transparent
        border none
        border-bottom 1px solid $input-border-color
        outline none
        border-radius 0
        padding 0

        &::placeholder
          color $placeholder-color

        &::selection
          background-color $input-selection-background-color
          color $input-selection-color

        &:focus
          border-color $input-border-focus-color

    .section-buttons
      text-align center

      button
        border 1px solid $home-button-color
        border-radius 3px
        color $home-text-color
        transition all .3s ease
        width 175px
        background-color transparent
        margin-top 10px
        margin-right 20px
        padding 12.5px 20px
        font-size .70em

        &:hover
          border 1px solid darken($home-button-color, 50%)
          color $home-text-color
          cursor pointer

        &:focus
          outline none

    .job-duties, .skills-buttons
      input
        margin-top 10px

      button
        background-color transparent
        border 1px solid $home-button-color
        color $home-text-color
        margin-right 10px
        margin-top 25px
        padding 7px 10px
        outline none
        border-radius 3px
        transition all .4s ease

        &:hover
          cursor pointer
          background-color $home-button-color
          color #000

    .skills-buttons
      button
        margin-top 0

      .row, .column
        margin-bottom 0
        padding-bottom 0
