@import '~bulma-stylus/bulma'
@import '../variables/colors'

#home
  font-family Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  align-items stretch
  display flex
  flex-direction column
  justify-content space-between

  .hero.is-info
    background-color $home-background-color

  .container
    display flex
    flex-direction column
    align-items center
    justify-content center

  .hero-body
    display flex
    align-items center
    justify-content center
    text-align center

    i#logo
      font-size 6rem
      border-radius 3px

    h1
      color $home-logo-color
      font-family Earth Orbiter Title, Open Sans, sans-serif
      font-size 2em
      font-weight 600
      text-transform uppercase
      margin 20px 0

      span
        color #7a7a7a

    .buttons
      display flex
      flex-direction column
      justify-content center
      align-items center

      button
        border 1px solid $home-button-color
        border-radius 3px
        color $home-text-color
        transition all .3s ease
        width 175px
        background-color transparent
        margin-top 10px
        padding 12.5px 20px
        font-size .70em

        &:hover
          border 1px solid darken($home-button-color, 50%)
          color $home-text-color
          cursor pointer

        &:focus
          outline none

  .hero-foot
    height 1vh
    background-color lighten(oc-gray-9, 1.5%)
    color oc-gray-6
    text-align center
    padding 10px 0
    border-top 1px solid rgba(20, 20, 20, 0.5)
    font-size .9em

    small
      opacity .7

      a
        color oc-gray-5
