@import '../variables/colors'

#preview
  display flex
  flex-direction column
  align-items center

  canvas
    max-width 100% !important
    height 100% !important

  .controls
    padding 10px
    box-shadow 0px 3px 0px 0px oc-gray-8
    background darken(oc-gray-9, 10%)
    display flex
    justify-content space-between
    align-items center
    color oc-gray-1
    font-size 1rem
    height 55px
    width 100%

    .button
      height 1rem
      font-size 1.25rem
      height 35px
      background-color oc-gray-8
      border-color transparent
      border-radius 2px
      color white
      outline none

      &:focus
        outline none
        box-shadow none

      .icon
        height 1rem

    .download-buttons
      width 33.33%
      display flex
      justify-content flex-start

      .button
        font-size .75rem
        width 35%
        word-wrap break-word
        white-space normal
        outline none
        border none
        border-radius 0
        transition all .4s ease
        margin-right 4px

        i
          margin-right 7px

          @media screen and (max-width: 800px)
            margin-right 0

    .page-controls
      width 33.33%
      max-width 33.33%
      display flex
      align-items center
      justify-content space-between

      button
        width 20%

      p
        font-size 1.15rem
        text-align center
        height 1rem
        line-height 1rem
        display block

    .zoom-controls
      display flex
      align-items center
      justify-content flex-end
      width 33.33%

      button
        margin-left 5px
        width 20%

  .is-hidden-small
    @media screen and (max-width: 800px)
      display none
