@import '../variables/sizes'
@import '../variables/colors'

#templates
  .column
    text-align center

    .card
      opacity .7
      transition all .4s ease

      &:hover
        cursor zoom-in
        opacity .9

    &.selected
      .card
        opacity 1
        box-shadow 0 2px 20px rgba(255, 255, 255, 1), 0 0 0 1px rgba(255, 255, 255, 1)

      button
        border 1px solid lighten($templates-button-border-color, 100%)

    button
      border 1px solid $templates-button-border-color
      border-radius 3px
      color $templates-text-color
      transition all 0.3s ease
      background-color transparent
      margin-top 10px
      padding 12.5px 20px
      font-size 0.7em
      outline none

      &:hover
        border 1px solid lighten($templates-button-border-color, 50%)
        color $templates-text-color
        cursor pointer

    input[type='radio']
      margin-top 20px
      transform scale(1.5)
