$title ?=             $grey-darker 
$title-size ?=        $size-3 
$title-weight ?=      $weight-light 
$title-weight-bold ?= $weight-semibold 

$subtitle ?=          $grey-dark 
$subtitle-size ?=     $size-5 
$subtitle-strong ?=   $grey-darker 
$subtitle-weight ?=   $weight-light 

.title,
.subtitle
  block()
  word-break break-word
  em,
  span
    font-weight $title-weight
  strong
    font-weight $title-weight-bold
  .tag
    vertical-align middle

.title
  color $title
  font-size $title-size
  font-weight $title-weight
  line-height 1.125
  strong
    color inherit
  & + .highlight
    margin-top -0.75rem
  &:not(.is-spaced) + .subtitle
    margin-top -1.5rem
  // Colors
  for $size, $i in $sizes
    // 
    &.is-{$i}
      font-size $size

.subtitle
  color $subtitle
  font-size $subtitle-size
  font-weight $subtitle-weight
  line-height 1.25
  strong
    color $subtitle-strong
  &:not(.is-spaced) + .title
    margin-top -1.5rem
  // Colors
  for $size, $i in $sizes
    //
    &.is-{$i}
      font-size $size
