powerNumber(number, exp)
  value = 1
  if exp > 0
    for i in (1..exp)
      value = value * number
  else if exp < 0
    for i in (1..-exp)
      value = value / number
  return value

colorLuminance(color = #000)
  color-rgb = {
    'red': red(color),
    'green': green(color),
    'blue': blue(color)
  }
  
  for name, value in color-rgb
    adjusted = 0
    value = value / 255
    if value < 0.03928
      value = value / 12.92
    else
      value = (value + .055) / 1.055
      value = powerNumber(value, 2)
    color-rgb[name] = value
    
  return (color-rgb.red * .2126) + (color-rgb.green * .7152) + (color-rgb.blue * .0722)

findColorInvert(color)
  if (colorLuminance(color) > 0.55)
    return rgba(#000, 0.7)
  else
    return #fff
